@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

body {
  background: #091124;
}

a {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
}

a:hover {
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  color: inherit;
}

#page-wrapper {
  padding: 50px 0;
}
.object-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.object-wrapper::before
.object-wrapper::after {
  display: none !important;
}

.object-wrapper > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .object-wrapper {
    width: 100% !important;
    display: block;
  }
}

.object-container {
  transition: all 2s;
}

.object-wrapper .object-item {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .object-wrapper .object-item {
    display: block !important;
  }
}

.object-item {
  display: -webkit-flex;
  display: ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  color: inherit;
  height: 100%;
  width: 364px;
  position: relative;
  transition: box-shadow .2s, -webkit-transform .2s;
  transition: box-shadow .2s, transform .2s;
  transition: box-shadow .2s, transform .2s, -webkit-transform .2s;
  border-bottom: 5px solid #fff;
}

@media (max-width: 1239px) {
  .object-item {
    width: 320px
  }
}

@media (max-width: 767px) {
  .object-item {
    width: 360px
  }
}

.object-item:hover {
  color: inherit;
  box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 5px solid #CBA342;
}

.object-item--image {
  height: 250px;
}

.object-item--data {
  background: #fff;
  padding: 40px;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.object-item--data:h

.object-item--data h3 {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

.object-item--data h5 {
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

.object-item--data p {
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Slab', serif;
}

.object-item--price,
.object-item--mothprice {
  margin-top: 15px;
}

.object-item--price h3,
.object-item--mothprice h3 {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

.object-item--mothprice {
  background: #CBA342;
  padding: 20px 20px;
}

.object-item--price {
  background: #091124;
  color: #fff;
  padding: 20px 20px;
}
